img {
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.navbar-toggler-icon {
    color: white;
}

.navbar {
    background-color: rgb(39, 39, 39);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.login-dropdown {
    width: 300px;
}

.logout {
    display: none;
}

#scissors {
    font-size: 1.2em;
    vertical-align: middle;
}