.title {
    text-align: center;
    margin: 20px;
    color: white;
}

form {
    width: 80%;
    margin: 5vh auto 10vh;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.uploadText {
    line-height: 20px;
}

.uploadText:hover {
    cursor: pointer;
}

.uploadText span {
    line-height: 20px;
    display: inline;
    vertical-align: middle;
}

#pfpPreview {
    display: block;
}