<h2 class="title">Create an Account</h2>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="form-row">
        
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
          
          <label for="profile-picture"><p class="btn btn-dark uploadText">Profile Picture<span class="material-icons">
              file_upload
              </span></p></label>
          <input #profilePic type="file" (change)="selectFile($event)" class="form-control-file pic-input" style="display: none;" accept="image/png, image/jpg, image/jpeg" id="profile-picture">
          <span *ngIf="url" id="close" class="material-icons" (click)="clearFile()">close</span>
          <img id="pfpPreview" [src]="url" *ngIf="url">
        </div>
        <div class="col-md-6">
          
          <button type="submit" class="btn btn-dark submit">Create Account</button>
        </div>
    </div>
    
  </form>