body {
    overflow-y: scroll;
}

.content {
    margin: 2em;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
}

input[type="file"]{
    display: block;
}

.title {
    text-align: center;
    color: white;
    margin-top: 20px;
}