body {
    overflow-y: scroll;
}

.content {
    margin: 0 16%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 2px 6px rgba(0, 0, 0, 0.1);
}

input[type="file"]{
    display: block;
}

.title {
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 28px;
}

select, textarea, input {
    box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.1);
}