<h1 class="title">Make a Post!</h1>
<section class="content">
  <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="Title" class="form-label">Title</label>
      <input
        type="textarea"
        class="form-control"
        id="Title"
        formControlName="title"
        placeholder="Title"
      />
    </div>
    <div class="mb-4">
      <label for="Description" class="form-label">Description</label>
      <input
        type="textarea"
        class="form-control"
        id="Description"
        formControlName="description"
        placeholder="Description"
      />
    </div>

    <div class="mb-4">
      <label for="code" class="form-label">Code</label>
      <textarea
        class="form-control textarea"
        id="code"
        rows="5"
        formControlName="code"
        placeholder="Paste your code here"
      ></textarea>
    </div>
    <!-- choose dropdown -->
    <div>
      <label for="inlineFormCustomSelectPref" class="form-label">Language</label>
      <select
        class="custom-select my-1 mr-sm-2"
        id="inlineFormCustomSelectPref"
        name="language"
        formControlName="language"
      >
        <option selected value="None" disabled>Choose Language</option>
        <option value="language-bash">Bash</option>
        <option value="language-css">CSS</option>
        <option value="language-csharp">C#</option>
        <option value="language-go">Go</option>
        <option value="language-html">HTML</option>
        <option value="language-java">Java</option>
        <option value="language-javascript">Javascript</option>
        <option value="language-json">JSON</option>
        <option value="language-dotnet">.NET</option>
        <option value="language-objectivec">Objective-C</option>
        <option value="language-php">PHP</option>
        <option value="language-py">Python</option>
        <option value="language-ruby">Ruby</option>
        <option value="language-sql">SQL</option>
        <option value="language-xml">XML</option>
        <option value="language-yaml">YAML</option>
      </select>
    </div>

    <!-- <div class="mb-4">
      <label for="codeLink" class="form-label">Link to Running Code</label>
      <input
        type="textarea"
        class="form-control"
        id="codeLink"
        formControlName="codeLink"
        placeholder="Link"
      />
    </div>
    <div class="mb-4">
      <label for="formFile" class="form-label">Picture</label>
      <input
        type="file"
        id="formFile"
        formControlName="file"
      />
    </div> -->
    <button type="submit" class="btn btn-primary" *ngIf="createPostForm.valid">Submit</button>
  </form>
</section>
