<div class="container-fluid d-flex">
    <div class="w-25 side-bar">sidebar</div>
    <div class="w-75 feed">
        <h2 class="feed-title">Community Feed</h2>
        <div class="post" *ngFor="let post of posts; let i = index">
            <div class="user-info">
                <div class="pfp-container">
                    <!-- <img src={{sampleImage}} alt="Profile Picture" class="pfp"> -->
                    <span  class="profileImg">{{ authors[i].charAt(0).toUpperCase() }}</span>
                    <!-- ng-style="{'background-color': jsonObj[(authors[i].charAt(0).toUpperCase())] }" -->
                </div>
                <div class="name-date-container">
                    <span class="post-user">{{  authors[i] }}</span>
                    <span class="post-time">{{ post.timestamp }}</span>
                </div>
            </div>
            <div class="title-desc">
                <h3 class="post-title">{{ post.title }}</h3>
                <hr>
                <p class="description">{{ post.description }}</p>
            </div>
  
            
            <div class="code">
                <div class="line-numbers">
                    <pre><code class="language-py">{{ post.code }}</code></pre>
                </div>
                <p>{{ post.language }}</p>
            </div>     
        </div>
    </div>
</div>
