.container-fluid {
    background-color: white;
    height: 100vh;
}

.side-bar {
    background-color: rgb(25, 25, 25);
    width: 25%;
    color: white;
}

.feed {
    overflow: auto;
    padding: 20px;
}

.feed-title {
    font-size: 1.4em;
    width: 80%;
    margin: 0 auto 20px;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.post {
    margin: 0 auto;
    position: relative;
    background-color: lightgrey;
    width: 80%;
    padding: 15px 0;
    border-radius: 5px;
}

.post > div {
    width: 80%;
    margin: 0 auto;
}

.code {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.pfp {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.user-info {
    display: flex;
}

.post-user {
    font-weight: bold;
}

.post-time {
    color: rgb(70, 70, 70);
    font-size: 0.8em;
}

.post-user, .post-time {
    display: block;
    font-family: arial;
}

.title-desc {
    width: 80%;

}

.post-title {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.description{
    font-size: 0.9em;
}
