.loadingIcon {
    font-family: "Poppins";
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgb(70, 70, 70);
    margin-top: 40px;
}

.profileIcon {
    padding: 8px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 50%;
    margin-right: 16px; 
}

.profileHeader {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.post-name {
    font-weight: bold;
    cursor: default;
}

.feed-name {
    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 auto 0;
}

.feed-email {
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    margin: 0 auto;
}

.feed-bio {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}