/* You can add global styles to this file, and also import other style files */

@import "../node_modules/prismjs/plugins/toolbar/prism-toolbar.css";
@import "../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "../node_modules/prismjs/themes/prism-tomorrow";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    list-style: none;
}
body {
    padding-top: 56px;
    background: white;
}

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.7rem; /* 1em */
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
}